<html lang="en">
{% include "head.html" %}
<body>
{% include "left.html" %}
{% include "header.html" %}

<div id="section">
<h1>Contract</h1>
    <h2>Trans</h2>
    <div class="table">
        <div class="table-tr">
            <div class="table-th">sid</div>
            <div class="table-td"><a href="{{spath}}">{{sid}}</a></div>
        </div>
        <div class="table-tr">
            <div class="table-th">cid</div>
            <div class="table-td"><a href="{{cpath}}">{{cid}}</a></div>
        </div>
        <div class="table-tr">
            <div class="table-th">tid</div>
            <div class="table-td"><a href="{{tpath}}">{{tid}}</a></div>
        </div>
        <div class="table-tr">
            <div class="table-th">did</div>
            <div class="table-td"><a href="{{dpath}}">{{did}}</a></div>
        </div>
        <div class="table-tr">
            <div class="table-th">Time</div>
            <div class="table-td">{{Time}}</div>
        </div>
        <div class="table-tr">
            <div class="table-th">Seller</div>
            <div class="table-td">{{seller}}</div>
        </div>
        <div class="table-tr">
            <div class="table-th">Buyer</div>
            <div class="table-td">{{buyer}}</div>
        </div>
    </div>
    <h2>Templates and Data</h2>
    {% for list in tmplplainarray %}
    <h3>{{list.0}}</h3>
    <div class="table">
        <div class="table-tr">
            <div class="table-th">DID</div>
            <div class="table-th">Name</div>
            <div class="table-th">Type</div>
            <div class="table-th">Required</div>
            <div class="table-th">Value</div>
        </div>
        {% for x in list.1 %}
            <div class="table-tr">
              <div class="table-td">{{x.0}}</div>
                <div class="table-td">{{x.1}}</div>
                <div class="table-td">{{x.2}}</div>
                <div class="table-td">{{x.3}}</div>
                <div class="table-td">{{x.4}}</div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% include "footer.html" %}

</body>
</html>
