<html lang="en">
{% include "head.html" %}
<body>
{% include "left.html" %}
{% include "header.html" %}
<main>
    <h1>New Offer</h1>
    <div class='table'>
        <form enctype="multipart/form-data" action="/offer.html" method="post">
            <div style="height:0;">{% csrf_token %}</div>
            <div hidden><input type="text" name="buyer" value="{{buyer}}"/></div>
            <div class="table-tr">
                <div class="table-th">Seller</div>
                <div class="table-th">Templates</div>
                <div class="table-th">Fee</div>
                <div class="table-th">Action</div>
            </div>

            <div class="table-tr">
                <div class="table-td">
                    <select name="seller">
                        {% for x in sellers %}
                            <option value ="{{x.1}}">"{{x.0}}"</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="table-td">
                    <select name="tid">
                        {% for x in tmpls %}
                            <option value ="{{x.0}}">"{{x.1}}"</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="table-td">
                    <input type="text" name="fee" value="{{fee}}"/>
                </div>
                <div class="table-td"><button type="submit" name="upload">Submit</button></div>
            </div>
	    </form>
    </div>
</main>
{% include "footer.html" %}
</body>
</html>
