<html lang="en">
{% include "head.html" %}
<body>
{% include "left.html" %}
{% include "header.html" %}
<main>
<h1>New Transaction</h1>
    <div class='table'>
	    <form enctype="multipart/form-data" action="/newtrans.html" method="post">
            <div>
                <input type="text" hidden name="trans" value="{{datall}}">
            </div>
            <div class="table-tr">
			{% csrf_token %}
            </div>
            <div class="table-tr" style="text-align:right">
                <div class="table-td" style="width:25%">TransID</div>
                <div class="table-td" style="width:25%"><input type="text" readonly name='cid' value="{{cid}}"></div>
            </div>
            <div class="table-tr" style="text-align:right">
                <div class="table-td" style="width:25%">From</div>
                <div class="table-td" style="width:25%">{{buyer}}</div>
            </div>
            <div class="table-tr" style="text-align:right">
                <div class="table-td" style="width:25%">To</div>
                <div class="table-td" style="width:25%">{{seller}}</div>
            </div>
            <div class="table-tr" style="text-align:right">
                <div class="table-td" style="width:25%">Fee</div>
                <div class="table-td" style="width:25%">{{fee}}</div>
            </div>

            <p></p>
            <div class="table-tr" style="text-align:right">
                <div class="table-th" style="width:25%">TID</div>
                <div class="table-th" style="width:25%">LocalFile</div>
                <div class="table-th" style="width:20%">Uploaded</div>
                <div class="table-th" style="width:20%">Action1</div>
            </div>
            {% for x in subtids %}
                <div class="table-tr" style="text-align:right">
                    <div class="table-td" style="width:25%"><a href="{{x.2}}">{{x.1}}</a></div>
                    <div class="table-td" style="width:25%"><input type="file" name={{x.0}}></div>
                    <div class="table-td" style="width:25%">{{x.3}}</a></div>
                    <div class="table-td" style="width:20%"><button type="submit" name="upload">Upload</button></div>
                </div>
            {% endfor %}
	    </form>
        <form enctype="multipart/form-data" action="/trans.html" method="post">
            <div class="table-tr">
			{% csrf_token %}
            </div>
            <div>
                <input type="text" hidden name="trans" value="{{datall}}">
            </div>
            <div class="table-tr" style="width:25%"><button type="submit">Submit</button></div>
        </form>
	</div>
</main>
{% include "footer.html" %}
</body>
</html>
