<html lang="en">
{% include "head.html" %}
<body>
{% include "left.html" %}
{% include "header.html" %}

<div id="section">
<h1>Contract</h1>
    <h2>New Contract</h2>
    <div class='table'>
	    <form enctype="multipart/form-data" action="/offer.html" method="post">
            <div class="table-tr">
			{% csrf_token %}
            </div>
            <div class="table-tr" style="text-align:right">
                <div class="table-th" style="width:20%">Time</div>
                <div class="table-th" style="width:20%">Sender</div>
                <div class="table-th" style="width:20%">Templates</div>
                <div class="table-th" style="width:20%">Fee</div>
                <div class="table-th" style="width:20%">Action</div>
            </div>
            <div class="table-tr" style="text-align:right">
                <div class="table-td" style="width:20%">{{ time }}</div>
                <div class="table-td" style="width:20%">{{ sender }}</div>
                <div class="table-td" style="width:20%">{{ tmpl }}</div>
                <div class="table-td" style="width:20%">{{ fee }}</div>
                <div class="table-td" style="width:20%"><button type="submit">Accept</button></div>
            </div>
	    </form>
	</div>
    <h2>My Offer</h2>
    <p>
        Show offers provide by myself(TBD)
    </p>
    <h2>Old Contracts</h2>
    <p>
        TBD
    </p>
</div>

{% include "footer.html" %}

</body>
</html>
