<html lang="en">
{% include "head.html" %}
<body>
{% include "left.html" %}
{% include "header.html" %}
<main>
<h1>Contract</h1>
    <h2>Previded Contracts</h2>
        <a href="newoffer.html">Create a new offer</a><br>
    <h2>My Contracts</h2>
        <div class='table'>
            <div class="table-tr">
			{% csrf_token %}
            </div>
            <div class="table-tr" style="text-align:right">
                <div class="table-th" style="width:30%">Time</div>
                <div class="table-th" style="width:30%">Receiver</div>
                <div class="table-th" style="width:10%">Fee</div>
                <div class="table-th" style="width:30%">TID</div>
            </div>
            {% for x in offers %}
                <div class="table-tr" style="text-align:right">
                    <div class="table-td" style="width:30%">{{ x.1 }}</div>
                    <div class="table-td" style="width:30%">{{ x.2 }}</div>
                    <div class="table-td" style="width:10%">{{ x.3 }}</div>
                    <div class="table-td" style="width:30%"><a href="{{x.4}}">{{x.0}}</a></div>
                </div>
            {% endfor %}
	    </div>
    <h2>Received Offers</h2>
    <form enctype="multipart/form-data" action="/newtrans.html" method="get">
    <div class='table'>
            <div class="table-tr">{% csrf_token %}</div>
            <div class="table-tr" style="text-align:right">
                <div class="table-th" style="width:30%">Time</div>
                <div class="table-th" style="width:25%">Sender</div>
                <div class="table-th" style="width:10%">Fee</div>
                <div class="table-th" style="width:25%">TID</div>
                <div class="table-th" style="width:10%">Action</div>
            </div>

            {% for x in received %}
                <div class="table-tr" style="text-align:right">
                    <div class="table-td" style="width:30%">{{ x.1 }}</div>
                    <div class="table-td" style="width:25%">{{ x.2 }}</div>
                    <div class="table-td" style="width:10%">{{ x.3 }}</div>
                    <div class="table-td" style="width:25%"><a href="{{x.4}}">{{x.0}}</a></div>
                    <div class="table-td" style="width:10%"><button type="submit" name="Accept" value="{{x.0}}">Accept</button></div>
                </div>
            {% endfor %}
    </div>
    </form>
</main>
{% include "footer.html" %}
</body>
</html>
