<html lang="en">
{% include "head.html" %}
<div>
{% include "left.html" %}
    {% include "header.html" %}

<div id="section">
    <h1>Query BlcokChain</h1>
    <h2>Query Creteria</h2>
    <div align="center" id="login" style="height:100">
    <form action="/query.html" method="get">
    {% csrf_token %}
        <div class="table">
            <div class=""table-tr">
                <div class="table-td">Type</div>
                <div class="table-td">
                    <select name="querytype" id="type" style="width:150px">
                        <option value="template">Template</option>
                        <option value="data">Data</option>
                        <option value="contract">Contract</option>
                        <option value="transaction">Transaction</option>
                    </select>
                </div>
            </div>
            <div class="table-tr">
                <div class="table-td">keyword</div>
                <div class="table-td">
                    <input type="text" name="keyword" style="width:150px"/>
                </div>
            </div>
            <div class="table-tr">
                <div class="table-td" align="center">
                    <button type="submit">提交</button>
                </div>
                <div class="table-td" align="center">
                    <button type="button">重置</button>
                </div>
            </div>
        </div>
    </form>
    <p>{{ rlt }}</p>
    </div>
<h2>Result</h2>
    <div class=""table-tr">
                <div class="table-th">ID</div>
                <div class="table-th">DecodeValue</div>
    </div>
    {% for x in result %}
        <div class="table-tr">
            <div class="table-td"><a href="{{x.1}}">{{x.0}}</a></div>
            <div class="table-td"><a href="{{x.2}}">decode</a></div>
        </div>
    {% endfor %}
</div>

{% include "footer.html" %}

</body>
</html>
